datachecks/checks*
connect_remote.json
.DS_Store
ignore/*
.Rhistory
*.R

helpers/dumps/

.vscode/settings.json

helpers/dumps2021-06-07/

helpers/figshareUpload/lib/__pycache__/

helpers/figshareUpload/settings.yaml

helpers/settings.yaml

fixGeorge.sh

helpers/localDup.sh

*.tar

helpers/archives/

*.gz

.vscode/

helpers/figshareUpload/settings.yaml

helpers/figshareUpload/lib/__pycache__/
